/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

figure.highlight {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre::selection, pre ::selection,
code::selection, code ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code,
  pre {
    text-shadow: none;
  }
}

/* Code blocks */
figure.highlight {
  margin: .5em 0;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius:;
}

figure.highlight table {
  width: 100%;
}

figure.highlight pre {
  padding: 1em;
  margin: 0;
}

:not(pre) > code,
pre {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

pre .comment,
pre .prolog,
pre .doctype,
pre .cdata {
  color: slategray;
}

pre .punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

pre .property,
pre .tag,
pre .boolean,
pre .number,
pre .constant,
pre .symbol,
pre .deleted {
  color: #905;
}

pre .selector,
pre .attr-name,
pre .string,
pre .char,
pre .builtin,
pre .inserted {
  color: #690;
}

pre .operator,
pre .entity,
pre .url,
.language-css pre .string,
.style pre .string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

pre .atrule,
pre .attr-value,
pre .keyword {
  color: #07a;
}

pre .function {
  color: #DD4A68;
}

pre .regex,
pre .important,
pre .variable {
  color: #e90;
}

pre .important,
pre .bold {
  font-weight: bold;
}
pre .italic {
  font-style: italic;
}

pre .entity {
  cursor: help;
}

pre * {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}